table{
    table-layout: fixed;
    height: 59px;
    width: 124px;
    text-align: center;
    margin-right: 10px;
    margin-top: 30px;
}



body, button, input, select, td, textarea, th {
    font-size: 13px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}   

fieldset, img {
    border: 0;
}

.inp_text {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 18px 19px 19px;
    box-sizing: border-box;
}

.inp_text input {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #000;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
}

.btn_login {
    margin: 20px 0 0;
    width: 331px;
height: 66px;
    border-radius: 33px;
    font-size: 30px;
    color: #fff;
    background-color: #f33751;
    margin-top: 20px;
}

#loginId{
    width: 493px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 20px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
height: 66px;
margin-bottom: 10px;
}
#loginPw{
    width: 493px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 20px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
height: 66px;
margin-bottom: 10px;
}

#passwordView{
    margin-right: 15px;
    margin-left: 47px;
}
input[type=checkbox] {
    transform : scale(2);
    }